.home {
   padding-top: 83px;

   &__descr {
      margin-top: 22px;
      margin-bottom: 64px;
   }

   .wrapper {
      text-align: center;

      &__num {
         font-family: Lato;
         font-weight: bold;
         font-size: 22px;
         color: #4E5665;
         margin-top: 34px;
      }

      &__text {
         font-family: Lato;
         font-style: normal;
         font-weight: bold;
         font-size: 14px;
         line-height: 17px;
         color: #909090;
      }
   }

   &__line {
      margin-top: 80px;
   }
}